.container-product{
   width: 100%; 
<<<<<<< HEAD
   height: 100vh;
=======
   height: 90vh;
>>>>>>> parent of f1c789b... дп з3
   background-color: rgb(151, 131, 16);
   display: flex;
   justify-content: space-around;
}

.container-product .item{
    width: 200px; 
    height: 300px;
    background-color:white;
    border: 1px solid rgb(23, 13, 110);
    text-align: center;
    align-self: center;
}

.container-product .item .img{
    width: 100%; 
    height: 100px;
    background-image: url('./img/audi_a8.jpg');
    /* object-fit: cover; */
    background-size: cover;
}